@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray {
  background-color: #c6c6cb;
}
.overflow-x-hidden.w-full.h-full button.rounded-full {
  background-color: #c6c6cb8a;
}
.text-slate-500 {
  color: #969595;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
